<%= form_for(@genre, :html => {:class => "input_form"}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <div class="actions">
    <%= f.submit "Commit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
