<% provide(:title, "Show Author") %>
<h1>Author <%= @author.name%></h1>

<div class="row">
  <%= @author.description %>
</div>

<%= render 'shared/genres_with_counters_list', genres:  @genres %>

<%= render 'shared/paginated_book_list', books:  @books%>

<% if signed_in_admin? %>
<%= link_to 'Back to list', authors_path %> |
<%end%>

<%= link_to 'Back Home', root_path %>