<li>
<div class="container">
  <div>
  <p><%= link_to book.name, book %></p>
  <p><%= book.authors.to_s%>  <%= '('+book.year.to_s+')'%>
  </p>
  </div>

  <div>
    <div class="book_block book_image">
    <image src= <%= image_url  book.image_url%>>
    </div>
    <div class="book_block">
    <%=  book.description %>
    <%=  book.price %>

    <% if 1 #check_is_admin? %>
          <%= link_to 'Edit', '#' %>
    <% else %>
          <%= link_to 'Buy', '#'%>
    <% end %>
    </div>

  </div>
</div>
</li>