<li>
<div class="entry">
  <%= image_tag(book.image_url) %>
  <h3><%= link_to book.name, book %></h3>
  <h2><%= authors_to_s(book.authors)%>  <%= '('+book.year.to_s+')'%></h2>
      <%=  book.description %>

    <div class="price_line">
     <span class="price">  <%=  number_to_currency(book.price , precision: 2,unit: '₴') %></span>

    <% if signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_book_path(book) %>
    <% else %>
          <%= button_to 'Add to Cart', line_items_path(book_id: book), class:"btn btn-success"%>
    <% end %>
    </div>

</div>
</li>