<div class="row">
  <div class="span6 offset3">
    <%= form_for(@book, html: {multipart: true, class: "input_form"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :price %>
        <%= f.number_field :price %>

        <%= f.label :quantity %>
        <%= f.number_field :quantity %>

        <%= f.label :year %>
        <%= f.text_field :year %>

        <%= f.label :isbn %>
        <%= f.text_field :isbn %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :genre %>
        <%= f.select(:genre_id) do %>
            <% @genres.each do |g| -%>
                <%= content_tag(:option, g.name, value: g.id) %>
            <% end %>
        <% end %>

        <%= f.label :authors %>
        <%= f.collection_select :author_ids, @authors, :id, :name, {},
                                   {:multiple => true} %>

        <%= f.label :cover %>
        <%= f.file_field :cover %>

        <%= f.submit "Commit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>