<div class="row">
  <h1>Book <%= @book.name %>
    <% if @book.quantity > 0 %>
        <span class="label label-success">In stock <%= @book.quantity %> p</span>
    <% else %>
        <span class="label label-default">Not available now</span>
    <% end %>
  </h1>
  <h3><%= authors_to_s(@book.authors) %></h3>

  <div class="media">
    <div class="media-left media-middle">
      <%= image_tag @book.cover.url(:medium), height: 300 %>
    </div>
    <div class="media-body">
      <p><b>ISBN:</b> <%= @book.isbn %></p>
      <p><b>Year of publishing:</b> <%= @book.year %></p>
      <p>
        <%= @book.description %>
      </p>
      <div class="input-group">
        <span class="input-group-addon">Price: <%= number_to_currency(@book.price, precision: 2, unit: '₴') %></span>
        <% if !signed_in_admin? %>
            <%= button_to 'Add to Cart', line_items_path(book_id: @book), class: "btn btn-success " %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= link_to 'All Books', books_path, class: "btn btn-primary " %>
  <%= link_to 'Back Home', root_path, class: "btn btn-primary " %>
</div>