<p id="notice"><%= notice %></p>

<h1>Your Cart</h1>
<ul>
  <%= render(@cart.line_items) %>

</ul>
<p>Total =<%= number_to_currency(@cart.total_price, precision: 2,unit: '₴') %></p>
<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %>



<%= link_to 'Back', carts_path %>


