<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
            <span id="logo">Qart BookStore <i class="glyphicon glyphicon-education"></i></span>
        <% end %>
      </div>
      <div class="collapse navbar-collapse">
        <%= render 'layouts/search' %>

        <ul class="nav  nav-pills navbar-right">
          <% if signed_in? %>
              <% if current_user.admin? %>
                  <li>
                    <%= link_to user_path(current_user) do %>
                        <span class="glyphicon glyphicon-cog"></span>
                        Admin Zone
                    <% end %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to user_path(current_user) do %>
                        <span class="glyphicon glyphicon-user"></span>
                        Personal Area
                    <% end %>
                  </li>
              <% end %>
              <li>
                <%= link_to signout_path, method: "delete" do %>
                    <span class="glyphicon glyphicon-log-out"></span>
                    Sign out
                <% end %>
              </li>
          <% else %>
              <li>
                <%= link_to signin_path do %>
                    <span class="glyphicon glyphicon-log-in"></span>
                    Sign in
                <% end %>
              </li>
          <% end %>
          <li>
            <%= link_to '#', class: "" do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Cart
            <% end %>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>